<div class="subjects new">
    <html>

        <%= stylesheet_link_tag "stylesAddPoints.css" %>

        <body class="background">

            <!-- Nav bar -->
            <div id="mySidebar" class="sidebar">
                <a href = "javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>
                <%= link_to "Home", portal_home_path, class: "active" %>
                <%= link_to "My Points", point_path(session[:user_id]) %>
                <%= link_to "Submit Points", new_point_path %>

                <!-- Only officers can see these -->
                <% if(@current_user.isOfficer) %>
                    <%= link_to "Search Users", users_path%>
                    <%= link_to "View All Points", points_path %>
                    <%= link_to "View All Users", portal_view_members_path %>
                    <%# <li> link_to "Edit Calender", --- </li> %> <!-- Fill this in later when calender is done :) -->
                <% end %>
            </div>

            <!-- Main content -->
            <div id="main">
                <!-- Nav bar open button -->
                <table>
                    <tr>
                        <td><button class = "openbtn button" onclick = "openNav()"> ☰ Menu </button></td>
                        <td><div align="right"><%= button_to "Logout", "/logout", :class => 'button', :method => :get %></div></td>
                    </tr>
                </table>

                <div class="center">

                    <h2>Add points</h2>

                    <%= form_for(@point, :url => points_path, :controller => 'post') do |f| %>

                    <table>
                        <tr>
                            <td> 
                                Event: 
                            </td> 
                            <td>
                                <%= f.text_field(:eventName) %> 
                            </td>
                        </tr> 
                        <tr></tr>
                        <tr>
                            <td> 
                                Type: 
                            </td> 
                            <td>
                                <%= f.select :eventType , [["Business","Business"],["Speaking","Speaking"]] %> 
                            </td>
                        </tr>
                        <tr></tr>
                        <tr>
                            <td> 
                                Points: 
                            </td>
                            <td>
                                <%= f.number_field :pointAmount %> 
                            </td>
                        </tr>
                        <tr></tr>
                        <tr>
                            <td> 
                                Date: 
                            </td>
                            <td>
                                <%= f.date_field :submissionDate %> 
                            </td>
                        </tr>
                        <tr></tr>
                    </table>

                    <center><%= f.submit "Add Points" , class: "button2" %></center>

                    <% end %>

                </div>

                <button class="tutbtn" id="tutbtn" onclick = "expand()"> Help </button>
                <div class="tutorial" id="tutorial">
                    <div class="expand" id="expand">
                        <h3>Adding points</h3>
                        <p>This is where you can add new points to your account.</p>
                        <Once>All you have to do is fill in the form with the event title, specify the type, the number of points, and the event date. 
                        Once you click "Add Points" they will show up in your "My Points" tab.</p>
                        <div align="right"><button class="tutclose" id="tutclose" onclick = "colapse()"> Close </button></div>
                    </div>
                </div>

            </div>

            <!-- JS is being omega dum >:( !!! Very angry!!! Rails is stupid! I hate this! JS doesn't seem to really work with rails so I had to make a little snippet in html-->
            <script>
                /* Open menu */
                function openNav() {
                    document.getElementById("mySidebar").style.width = "250px";
                    document.getElementById("main").style.marginLeft = "250px";
                }
                /* Close menu */
                function closeNav() {
                    document.getElementById("mySidebar").style.width = "0";
                    document.getElementById("main").style.marginLeft= "0";
                }

                /* Open tutorial */
                function expand() {
                    document.getElementById("tutbtn").style.display='none';
                    document.getElementById("tutorial").style.width = "255px";
                    document.getElementById("tutorial").style.height = "255px";
                    document.getElementById("tutorial").style.border = "5px solid grey";
                    document.getElementById("expand").style.display="block";
                }
                /* Close tutorial */
                function colapse() {
                    document.getElementById("tutbtn").style.display="block";
                    document.getElementById("tutorial").style.width = "0";
                    document.getElementById("tutorial").style.height = "0";
                    document.getElementById("tutorial").style.border = "none";
                    document.getElementById("expand").style.display="none";
                }
            </script>
        </body>
    </html>
</div>