<table summary="Subject form fields">
    <tr>
        <td> 
            Event:
        </td> 
        <td>
            <%= f.text_field(:eventName) %> 
        </td>
    </tr> 
    <tr></tr>
    <tr>
        <td> 
            Type: 
        </td> 
        <td>
            <%= f.select :eventType , [["Business","Business"],["Speaking","Speaking"]] %> 
        </td>
    </tr>
    <tr></tr>
    <tr>
        <td> 
            Points: 
        </td>
        <td>
            <%= f.number_field :pointAmount %> 
        </td>
    </tr>
    <tr></tr>
    <tr>
        <td> 
            Date: 
        </td>
        <td>
            <%= f.date_field :submissionDate %> 
        </td>
    </tr>
    <tr></tr>
    <tr>
        <td> 
            Comments: 
        </td>
        <td>
            <%= f.text_field :comments %> 
        </td>
    </tr>
    <tr></tr>
</table>