<div class="points index">
    <html>

        <%= stylesheet_link_tag "stylesPoints.css" %>

        <body class="background">

            <!-- Nav bar -->
            <div id="mySidebar" class="sidebar">
                <a href = "javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>
                <%= link_to "Home", portal_home_path, class: "active" %>
                <%= link_to "My Points", point_path(session[:user_id]) %>
                <%= link_to "Submit Points", new_point_path %>

                <!-- Only officers can see these -->
                <% if(@current_user.isOfficer) %>
                    <%= link_to "View All Points", points_path %>
                    <%= link_to "View All Users", portal_view_members_path %>
                    <%= link_to "Search Users", users_path%>
                    <%= link_to "Announcement", new_announcement_path%>
                    <%# <li> link_to "Edit Calender", --- </li> %> <!-- Fill this in later when calender is done :) -->
                <% end %>
            </div>

            <!-- Main content -->
            <div id="main">
                <!-- Nav bar open button -->
                <table>
                    <tr>
                        <td><button class = "openbtn button" onclick = "openNav()"> ☰ Menu </button></td>
                        <td><div align="right"><%= button_to "Logout", "/logout", :class => 'button', :method => :get %></div></td>
                    </tr>
                </table>

                <div class="points_area">
                    <h2 class="header">These are your points</h2>
                    <div>
                        <table>
                            <!-- Table header -->
                            <tr>
                                <th>Event</th>
                                <th>Type</th>
                                <th>Points</th>
                                <th>Date</th>
                                <th>Actions</th>
                            </tr>
                          
                            <!-- test rows to see style -->
                            <% @points.each do |point| %>
                              <tr>
                                <td><%= point.eventName %></td>
                                <td><%= point.eventType %></td>
                                <td><%= point.pointAmount %></td>
                                <td><%= point.submissionDate %></td>
                                <td>
                                    <button class="show" id="show" onclick="comment(<%= "\"" + point.id.to_s + "\"" %>)">Show</button>
                                    <div class="notice" id="<%= point.id.to_s %>">
                                        <div class="dim"></div>
                                        <div class="center">
                                            <p><%= point.comments %></p> 
                                            <% @temp = "cancelComment(\"" + point.id.to_s + "\")"%>
                                            <button class="close" id="close" onclick="cancelComment(<%= "\"" + point.id.to_s + "\""  %>)">Close</button>
                                        </div>
                                    </div>
                                    <%= link_to('Edit', url_for(controller: :points, action: :edit_show, id: point.id))%>
                                    <button class="delete" id="delete" onclick="notice(<%= "\"" + point.id.to_s + "\"" %>)"> Delete </button>
                                    <div class="notice" id="<%= point.id.to_s %>">
                                        <div class="dim"></div>
                                        <div class="center">
                                            <h1>Warning!</h1>
                                            <p>Are you sure you want to delete the user <b>"<%= point.eventName %>"</b> from the database? All their data will be lost.</p> 
                                            <% @temp = "cancelNotice(\"" + point.id.to_s + "\")"%>
                                            <%= link_to('Confirm', url_for(controller: :points, action: :delete_show, id: point.id), onclick: @temp)%>
                                            <button class="close" id="close" onclick="cancelNotice(<%= "\"" + point.id.to_s + "\""  %>)"> Close </button>
                                        </div>
                                    </div>
                                </td>
                              </tr>
                            <% end %>

                        </table>
                    </div>
                </div>
                <div class="points_area">
                    <h2 class="header">Total points</h2>
                    <div>
                        <table>
                            <!-- Table header -->
                            <tr>
                                <th>Event Type</th>
                                <th>Points</th>
                                <%# <th>Date</th> %>
                            </tr>
                            <tr>
                                <td>Speaking Event</td>
                                <td><%=@speaking_sum%></td>
                            </tr>
                            <tr>
                                <td>Business Event</td>
                                <td><%=@business_sum%></td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>

            <button class="tutbtn" id="tutbtn" onclick = "expand()"> Help </button>
            <div class="tutorial" id="tutorial">
                
                <div class="expand" id="expand">
                    <h3>Your points</h3>
                    <p>This is where you can see all of the points you have. You'll be able to see the total points you've accumulated so far as well.</p>
                    <p>If you'd like to add points to your account, go to the "Submit Points" tab in the menu.</p>
                    <div align="right"><button class="tutclose" id="tutclose" onclick = "colapse()"> Close </button></div>
                </div>
            </div>

            <!-- JS is being omega dum >:( !!! Very angry!!! Rails is stupid! I hate this! JS doesn't seem to really work with rails so I had to make a little snippet in html-->
            <script>
                /* Open menu */
                function openNav() {
                    document.getElementById("mySidebar").style.width = "250px";
                    document.getElementById("main").style.marginLeft = "250px";
                }
                /* Close menu */
                function closeNav() {
                    document.getElementById("mySidebar").style.width = "0";
                    document.getElementById("main").style.marginLeft= "0";
                }

                /* Open tutorial */
                function expand() {
                    document.getElementById("tutbtn").style.display='none';
                    document.getElementById("tutorial").style.width = "255px";
                    document.getElementById("tutorial").style.height = "255px";
                    document.getElementById("tutorial").style.border = "5px solid grey";
                    document.getElementById("expand").style.display="block";
                }
                /* Close tutorial */
                function colapse() {
                    document.getElementById("tutbtn").style.display="block";
                    document.getElementById("tutorial").style.width = "0";
                    document.getElementById("tutorial").style.height = "0";
                    document.getElementById("tutorial").style.border = "none";
                    document.getElementById("expand").style.display="none";
                }

                /* Delete notice */
                function notice(a) {
                    document.getElementById(a).style.display="block";
                }
                function cancelNotice(a) {
                    document.getElementById(a).style.display="none";
                }
                function comment(a) {
                document.getElementById(a).style.display="block";
                }
                function cancelComment(a) {
                    document.getElementById(a).style.display="none";
                }
            </script>
        </body>
    </html>
</div>