<html>

    <!-- CSS and JS -->
    <%= stylesheet_link_tag "stylesHome.css" %>
    <!-- JS DUM! -->
    <%# <%= javascript_pack_tag "navBarJS.js" %>

    <body class="background">

        <!-- Nav bar -->
        <div id="mySidebar" class="sidebar">
            <a href = "javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>
            <%= link_to "Home", portal_home_path, class: "active" %>
            <%= link_to "My Points", point_path(session[:user_id]) %>
            <%= link_to "Submit Points", new_point_path %>

            <!-- Only officers can see these -->
            <% if(@current_user.isOfficer) %>
            <%= link_to "View All Points", points_path %>
            <%= link_to "View All Users", portal_view_members_path %>
            <%= link_to "Search Users", users_path%>
            <%= link_to "Announcement", new_announcement_path%>
            <% end %>
        </div>

        <!-- Main -->
        <div id="main">
            <!-- Nav bar button -->
            <table>
                <tr>
                    <td><button class = "openbtn button" onclick = "openNav()"> ☰ Menu </button></td>
                    <td><div align="right"><%= button_to "Logout", "/logout", :class => 'button', :method => :get %></div></td>
                </tr>
            </table>

            <!-- Page content -->
            <div class="flex-container">
                <div class="flex-child announcments">
                    <center><h1>Announcements</h1></center>
                    <ul class="list">
                            <% @announcements.each do |announcement| %>
                                <li class="announce">
                                    <span><%= announcement.announceDate %></span>
                                    <h3 style="text-align:left;">
                                        <%= announcement.header %>
                                    <span style="float:right;">
                                    <% if(@current_user.isOfficer) %>
                                        <%= link_to('×', url_for(controller: :announcements, action: :delete, id: announcement.id), :confirm =>  "Are you sure?")%>
                                    <% end %>
                                    </span>
                                    </h3> 
                                    <p><%= announcement.content %></p>
                                </li>
                            <%end%>
                    </ul>
                </div>

                <div class="felx-child calendar"><iframe src="https://calendar.google.com/calendar/embed?src=tcoutreach%40aggienetwork.com&ctz=America%2FChicago" style="border: 0" width="800" height="680" frameborder="0" scrolling="no"></iframe></div>

            </div>
        </div>

        <button class="tutbtn" id="tutbtn" onclick = "expand()"> Help </button>
        <div class="tutorial" id="tutorial">
            <div class="expand" id="expand">
                <h3>Howdy!</h3>
                <p>Welcome to TradoCoTracker.</p>
                <p>This is the home page where you can see the announcments and events on the calendar.</p>
                <p>If you click the menu button you can see the various tabs you can visit.</p>
                <div align="right"><button class="tutclose" id="tutclose" onclick = "colapse()"> Close </button></div>
            </div>
        </div>

        <!-- JS doesn't seem to really work with rails so I had to make a little snippet in html-->
        <script>
            /* Open menu */
            function openNav() {
                document.getElementById("mySidebar").style.width = "250px";
                document.getElementById("main").style.marginLeft = "250px";
            }
            /* Close menu */
            function closeNav() {
                document.getElementById("mySidebar").style.width = "0";
                document.getElementById("main").style.marginLeft= "0";
            }

            /* Open tutorial */
            function expand() {
                document.getElementById("tutbtn").style.display='none';
                document.getElementById("tutorial").style.width = "255px";
                document.getElementById("tutorial").style.height = "255px";
                document.getElementById("tutorial").style.border = "5px solid grey";
                document.getElementById("expand").style.display="block";
                document.getElementById("tutclose").style.display="block";
            }
            /* Close tutorial */
            function colapse() {
                document.getElementById("tutbtn").style.display="block";
                document.getElementById("tutorial").style.width = "0";
                document.getElementById("tutorial").style.height = "0";
                document.getElementById("tutorial").style.border = "none";
                document.getElementById("expand").style.display="none";
                document.getElementById("tutclose").style.display="none";
            }
        </script>
    </body>
</html>
