<div class="speakingEvents index">
  <h2>Book Homepage</h2>

  <%= link_to("Add New Book", new_speakingEvent_path, :class => 'action new') %>

  <table class="listing" summary="Speaking Event list">
    <tr class="header">
      <th>#</th>
      <th>Title</th>
      <th>Author</th>
      <th>Genre</th>
      <th>Price</th>
      <th>Published Date</th>
      <th>Actions</th>
    </tr>
    <% @speakingEvents.each do |speakingEvent| %>
    <tr>
      <td><%= speakingEvent.title %></td>
      <td><%= speakingEvent.author %></td>
      <td><%= speakingEvent.genre %></td>
      <td><%= speakingEvent.price %></td>
      <td><%= speakingEvent.published_date %></td>
      <td class="actions">
        <%= link_to("Show", speakingEvent_path(speakingEvent), :class => 'action show') %>
        <%= link_to("Edit", edit_speakingEvent_path(speakingEvent), :class => 'action edit') %>
        <%= link_to("Delete", delete_speakingEvent_path(speakingEvent), :class => 'action delete') %>
      </td>
    </tr>
    <% end %>
  </table>
</div>