<html>
<%= stylesheet_link_tag "stylesHome.css" %>
    <div id="mySidebar" class="sidebar">
      <a href = "javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>
      <%= link_to "Home", portal_home_path, class: "active" %>
      <%= link_to "My Points", point_path(session[:user_id]) %>
      <%= link_to "Submit Points", new_point_path %>

      <!-- Only officers can see these -->
      <% if(@current_user.isOfficer) %>
        <%= link_to "Multiple Submit", new_group_path%>
        <%= link_to "View All Points", points_path %>
        <%= link_to "View All Users", portal_view_members_path %>
        <%= link_to "Search Users", users_path%>
        <%= link_to "Announcement", new_announcement_path%>
      <% end %>
    </div>
    <div id="main">
    <table>
      <tr>
      <td><button class = "openbtn button" onclick = "openNav()"> ☰ Menu </button></td>
      <td><div align="right"><%= button_to "Logout", "/logout", :class => 'button', :method => :get %></div></td>
      </tr>
      </table>
<body class="background">


    <div class="user_area">
    <h1>Search Results</h1>
    <p><%= link_to 'Back', new_search_path %></p>
    </div>
    <% if @search.search_users.empty? %>
    <div class="points_area">
    <p> No Records Found </p>
    </div>

    <%else%>

    <%@search.search_users.each do |c| %>
    <br>
    <div class="points_area">
        <p>First Name: <%=c["firstName"]%></p>
        <p>Last Name: <%=c["lastName"]%></p>
        <p>Email: <%=c["email"]%>
        <p>Business Points: <%= c["business"] %> </p>
        <p>Speaking Points: <%= c["speaking"] %> </p>
    </div>
    <%end%>
<%end%>
</div>
 <script>
    /* Open menu */
    function openNav() {
    document.getElementById("mySidebar").style.width = "250px";
    document.getElementById("main").style.marginLeft = "250px";
    }
    /* Close menu */
    function closeNav() {
    document.getElementById("mySidebar").style.width = "0";
    document.getElementById("main").style.marginLeft= "0";
    }

    /* Open tutorial */
      function expand() {
          document.getElementById("tutbtn").style.display='none';
          document.getElementById("tutorial").style.width = "255px";
          document.getElementById("tutorial").style.height = "255px";
          document.getElementById("tutorial").style.border = "5px solid grey";
          document.getElementById("expand").style.display="block";
      }
      /* Close tutorial */
      function colapse() {
          document.getElementById("tutbtn").style.display="block";
          document.getElementById("tutorial").style.width = "0";
          document.getElementById("tutorial").style.height = "0";
          document.getElementById("tutorial").style.border = "none";
          document.getElementById("expand").style.display="none";
      }
    </script>
</body>
</html>