<!DOCTYPE HTML PUBLIC>
<html>

    <%= stylesheet_link_tag "stylesLogin.css" %>

    <body class="background">
    
    <div class="picture"></div>
    <img src=<%= asset_path 'tradcoLogo.png' %> class="logo"></img>

        <div class="wholeLogin">
            <%# will need to change to point_path, once we have an ID of the user to point to%>
            <%= form_with url: points_path, method: :get do |form| %>

            <div class="login">

                <div class="loginText">
                    <h3>Log in</h3>
                </div>

                <table>
                    <tr>
                        <td>Username</td>
                        <td style="text-align:right"> <%= text_field_tag :username %></td>
                    </tr>
                    <tr></tr>
                    <tr>
                        <td>Password</td>
                        <td style="text-align:right"> <%= password_field_tag :password %></td>
                    </tr>
                </table>

                <p></p>

                <center><%= submit_tag "Log in" , class: "button" %></center>
                <% end %>
                <center><%= button_to "Sign up", new_user_path, :class => 'button', :method => :get %></center>

            </div>

        </div>

    </body>

</html>