<!DOCTYPE>
<html>
    
    <!-- this pages is only visable to officers. -->
    <%= button_to "Back", points_path, :class => 'button action new', :method => 'get' %>

    <%= stylesheet_link_tag "stylesMembers.css" %>

    <body class="background">

        <div class="user_area">
            <h2 class="header">Users</h2>
            <div>
                <table>
                    <!-- Table header -->
                    <tr>
                        <th>ID</th>
                        <th>Username</th>
                        <th>Is Officer</th>
                        <th>Total Speaking</th>
                        <th>Total Business</th>
                        <th>Actions</th>
                    </tr>

                    <% @users.each do |user| %> 

                        <% @business_sum = Point.where(eventType: 'Business', userID: user.id).sum(:points) %>
                        <% @speaking_sum = Point.where(eventType: 'Speaking', userID: user.id).sum(:points) %>

                        <tr>
                            <td> <%= user.id %> </td>  
                            <td> <%= user.username %> </td> 
                            <td> <%= user.isOfficer %> </td> 
                            <td> <%= @business_sum %> </td>
                            <td> <%= @speaking_sum %> </td>
                            <td>Under construction :|</td>
                        </tr> 
                    <% end %>

                </table>

                <div>

                </div>

            </div>
        </div>

    </body>

</html>